@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

body {
	background-image: url("./assets//bg.png");
	height: 100%;
	width: 100%;
}

.header {
	height: 100px;
	width: 100%;
}

.logo-text {
	font-size: 24px;
	margin-top: 25px;
	margin-left: 50px;
	color: white;
	font-family: "Poppins", sans-serif;
}

.logo-bold {
	font-weight: 900;
}
