@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap");

body {
	background-image: url("./assets//bg.png");
	background-size: 100%;
	font-family: "Poppins", "Times New Roman", Times, serif;
	color: white;
	padding-bottom: 30px;
}

.header {
	display: flex;
	justify-content: space-between;
	position: relative;
	height: 45px;
	padding-top: 22px;
	margin-bottom: 72px;
}

.logo-text {
	margin-left: 32px;
	font-weight: 400;
	font-size: 20px;
	font-family: "Poppins", sans-serif;
}

.logo-bold {
	font-weight: 800;
}

.outer {
	padding: 0;
	margin: 0 0 50px 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.container-records {
	padding: 48px;
	max-width: 468px;
	width: 100%;
	background: #ffffff;
	box-shadow: 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.030926), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0444282),
		0px 12.5216px 10.0172px rgba(0, 0, 0, 0.055), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0655718),
		0px 41.7776px 33.4221px rgba(0, 0, 0, 0.079074), 0px 100px 80px rgba(0, 0, 0, 0.11);
	border-radius: 5px;
	margin: 0 35px 0 35px;
}

.container-title {
	text-align: left;
	color: #212121;
	font-weight: bold;
	font-size: 32px;
	line-height: 40px;
	padding-bottom: 10px;
}

.container-subtitle {
	max-width: 288px;
	color: #212121;
	line-height: 24px;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	padding-bottom: 5px;
}

.container-info {
	color: #414141;
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;
}

table {
	color: #414141;
	margin-top: 8px;
	font-size: 12px;
	line-height: 12px;
	width: 100%;
}

th,
td {
	border-bottom: 1px solid #ccc;

	font-weight: normal;
	padding: 14px 0px 14px 0px;
}

.table-title {
	width: 100%;
	color: #212121;
	font-weight: bold;
	font-size: 16px;
	line-height: 12px;
}

.check {
	width: 22px;
	height: 22px;
}

.payment-form {
	text-align: center;
}

.container-payment {
	margin: 0 35px 0 35px;
	padding: 48px;
	max-width: 468px;
	width: 100%;
	background: #ffffff;
	box-shadow: 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.030926), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0444282),
		0px 12.5216px 10.0172px rgba(0, 0, 0, 0.055), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0655718),
		0px 41.7776px 33.4221px rgba(0, 0, 0, 0.079074), 0px 100px 80px rgba(0, 0, 0, 0.11);
	border-radius: 5px;
	text-align: center;
}

.container-payment-title {
	font-weight: bold;
	font-size: 56px;
	line-height: 64px;
	color: #212121;
	margin-bottom: 10px;
}

.mobile-title {
	display: none;
}

.details-link {
	display: none;
}

.details-link:hover {
	text-decoration: underline;
	cursor: pointer;
}

.container-payment-subtitle {
	color: #414141;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 25px;
}

.form-control {
	margin-bottom: 32px;
}

.container-card-info {
	max-width: 468px;
	margin-top: 16px;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

.container-card {
	width: 32%;
}

.middle-card {
	margin-left: 2%;
	margin-right: 2%;
}

.accepted-cards {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	margin-bottom: 40px;
}

.accepted-card {
	width: 64px;
	height: 40px;
}

.container-payment-2 {
	display: none;

	margin: 0 35px 0 35px;
	padding: 48px;
	max-width: 468px;
	width: 100%;
	background: #ffffff;
	box-shadow: 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.030926), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0444282),
		0px 12.5216px 10.0172px rgba(0, 0, 0, 0.055), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0655718),
		0px 41.7776px 33.4221px rgba(0, 0, 0, 0.079074), 0px 100px 80px rgba(0, 0, 0, 0.11);
	border-radius: 5px;
	text-align: center;
}

.container-payment-title2 {
	color: #212121;
	font-weight: bold;
	font-size: 32px;
	line-height: 40px;
}

.address-details {
	margin-top: 16px;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	flex-wrap: nowrap;
}

.state {
	margin-right: 7px;
}

.zip {
	margin-left: 7px;
	max-width: 40%;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.pay-btn {
	margin-right: 6px;
}

.details-btn {
	margin-left: 6px;
}

.footer {
	margin-top: 25px;
	position: fixed;
	height: 64px;
	bottom: 0;
	width: 100%;
	background-color: white;
	color: #9c9c9c;
	text-align: center;
	display: flex;
	line-height: 64px;
	font-size: 12px;
}

.footer-left {
	width: 100%;
	float: left;
}

.footer-right {
	color: #414141;
	font-weight: 600;
	float: right;
	width: 100%;
}

.mail {
	height: 16px;
	width: 16px;
}

@media only screen and (max-width: 865px) {
	.header {
		margin-bottom: 12px;
	}

	.outer {
		flex-direction: column;
		align-items: center;
		padding: 16px;
	}

	.container-records {
		margin-bottom: 50px;
		padding: 36px 0px 32px 48px;
	}

	.container-subtitle {
		display: none;
	}

	.container-info {
		display: none;
	}

	.container-table {
		display: none;
	}

	.container-title {
		text-align: left;
		font-size: 24px;
		padding: 0;
		line-height: 22px;
	}

	.mobile-title {
		display: inline-block;
		padding: 0;
	}

	.details-link {
		display: inline-block;
		color: #0765e0;
		font-weight: 500;
		font-size: 14px;
		/* or 114% */
	}

	.container-payment {
		padding: 24px 24px 24px 24px;
	}

	.footer {
		padding: 0px;
		width: 100%;
		display: flex;
		padding-top: 16px;
		align-items: center;
		flex-direction: column;
		line-height: 0px;
		justify-content: center;
	}
}

@media only screen and (max-width: 436px) {
	.container-records {
		margin-bottom: 35px;
		padding: 16px 16px 8px 24px;
	}
	.container-title {
		font-size: 18px;
		padding: 0;
		flex-wrap: wrap;
	}
	.details-link {
		padding: 0;
	}

	.container-payment-title {
		font-size: 32px;
	}

	.container-payment-subtitle {
		font-size: 16px;
	}
}
